body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}
.header{
	width: 100%;
    clear: both;
    position: relative;
    display: inline-block;
}
.header__logo{
	width: 26%;
    border-bottom: solid 5px #7AE2DE;
    background-color: #414A52;
    padding: 30px 50px 30px 50px;
    box-sizing: border-box;
    float: left;
}
.header__menus{
    padding: 35px 50px 39px 200px;
    width: 58%;
    float: left;
    box-sizing: border-box;
}
.header__menu{
    display: inline-block;
    padding: 8px 16px;
    border-right: solid 1px #E5E7E9;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}
.header__menu__link{
    text-decoration: none;
    color: #414A52;
    padding: 8px 0;
}
.header__menu__link:hover{
    border-bottom: 2px solid #7AE2DE;
    color: #7AE2DE;
    transition:0.2s;
}
.header__subscribe{
	width: 16%;
	background-color: #414A52;
	float: left;
    padding:35px 0 36px 20px;
    box-sizing: border-box;
}
.header__menu__freebies{
    border: none;
}
.header__subscribe__list{
    list-style: none;
    clear: both;
}
.header__subscribe-menu{
    padding: 8px 16px;
    display: inline-block;
    border-right: 1px solid #505c66;
}
.header__subscribe-menu__search{
      float: right;
      padding: 9px 19px 0 0;
}
.search-img{
    width: 20px;
    margin: 0 0 0 15px;
}
.header__subscribe-menu__link{
    color: #7AE2DE;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0;
    letter-spacing: 1px;
}
.header__subscribe-menu__link:hover{
    border-bottom: 2px solid #7AE2DE;
    color: #7AE2DE;
    transition:0.2s;
  }
.header__search{
    display: none;
    width: 50%;
    background-color: #414A52;
    position: absolute;
    right: 0;
    top:0;
    padding: 39px 30px;
    box-sizing: border-box;
}
.header__search__input{
    border: none;
    border-bottom: solid 2px #7AE2DE;
    background-color: #414A52;
    font-size: 14px;
    padding: 0 0 7px 0;
    width: 280px;
}
.header__search__closebtn{
    width: 30px;
    position: absolute;
    right: 20px;
}
.carousel-divs{
    padding: 10px;
}
.carousel-div{
    background:url('../images/carousel.jpg');
    background-size: 100%;
    height: 552px;
}
.collectiveMenu{
    padding: 130px 100px 80px 130px;
    clear: both;
    display: inline-block;
}
.collectiveMenu__heading {
    float: left;
    padding: 6px 0 0 0;
}
.Menu__heading{
    color: #4c4a52;
    font-size: 15px;
    font-family:Raleway,Verdana,Arial,sans-serif;
}
.collectiveMenu__container{
    float: left;  
    width: 87%;
}
.collectiveMenu__information{
    font-size: 15px;
    line-height: 28px;
    color: #414A52;
    padding: 0 0 50px 110px;
}
.collectiveMenu-bottompadding{
    padding: 0 0 25px 110px;
}
.collectiveMenu__videoPlayer{
    padding: 0 0 55px 0;
}
.collectiveMenu__video{
    border: 10px solid #F4F6F9;
    width: 555px;
    height: 300px;
    background-color: #000;

}
.crewMenu{
    background-color: #F4F6F9;
    padding:130px 70px; 
}
.crewMenu__heading{
    padding: 0 0 50px 50px;
}
.Menu__heading:after {
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 15px;
    content: '';
    background-color: #7AE2DE;
}
.crewMenu__imageConatiner{
    width: 100%;
    clear: both;
    display: inline-block;
}
.crewMenuImages{
    height: 300px;
    float: left;
    width: 23%;
    margin: 0 30px 0 0;
}
.crewMenu__image__firstCrewMember{
    background: url(../images/crew-blaz-robar.jpg);
}
.crewMenu__image__secondCrewMember{
    background: url(../images/crew-dude.jpg);
}
.crewMenu__image__thirdCrewMember{
    background: url(../images/crew-mary-lou.jpg);
}
.crewMenu__image__fourthCrewMember{
    margin: 0;
   background: url(../images/crew-peter-finlan.jpg);
}
.crewMenuImages__overlay{
    height: 100%;
    width: 100%;
    background:rgba(122,226,222,0.8);
    padding: 70px 20px 20px 20px;
    box-sizing:border-box;
    text-align: center;
    color: #fff;
    line-height: 25px;
    opacity: 0;
}
.crewMenuImages__overlay__heading{
    font-size: 15px;
}
.crewMenuImages__overlay__information{
    margin: 25px 0;
}

.crewMenuImages__overlay__twiterlink{
    background:url(../images/mobile_twitter.png) no-repeat;
    opacity: .8;
}
.crewMenuImages__overlay__facebooklink{
     background:url(../images/facebook.png) no-repeat;
    opacity: .4;
}
.crewMenuImages__overlay__link{
   background-size: 100%;
    display: inline-block;
    width: 20px;
    height: 32px; 
    margin: 0 20px 0 0 ;
}
.crewMenuImages__overlay__link:hover{
    opacity: 1;
}
.crewMenuImages__overlay:hover{
    transition:0.2s;
    opacity: 1;
}
.crewMenu__progressBarsHolder{
    width: 100%;
    clear: both;
    display: inline-block;
}
.crewMenu__progressBarContainer{
    float: left;
    width: 48%;
    margin-top:40px;
    box-sizing:border-box;
    font-size: 13px;
}
.crewMenu__progressBarContainer-leftmargin{
    margin: 40px 0 0 40px;
}
.crewMenu__progressBarContainer-topmargin{
    margin: 15px 0 0 0;
}
.crewMenu__visualDesignProgressBar-margin{
    margin: 15px 0 0 40px;
}
.progressBar_title{
    color: #414A52;
    float: left;
}
.progressBar__percentage{
   float: right;
}
.progressBar__wrapper{
    margin: 30px 0;
    background-color: #414A52;
}
.progressBar{
    height: 10px;
    width: 0;
    background-color: #7AE2DE;
}
.TimmerdivHolder{
    background: url(../images/stats-bg.jpg) no-repeat;
    background-size: 100%;
    padding: 150px 0;
    width:100%; 
}
.Timmerdiv{
    width: 33%;
    display: inline-block;
    text-align: center;
    font-family: Montserrat,Georgia,"Times New Roman",serif;
    color: #fff;
    box-sizing:border-box;
}
.awardsdiv{
    border-right: 2px solid red;
}
.articles{
     border-right: 2px solid red;
}
.Timmerdiv__icon{
    height: 65px;
    display: inline-block;

}
.Timmerdiv__information{
    display: inline-block;
}
.Timmerdiv__number{
    font-size: 48px;
    line-height: 27px;
    padding-bottom: 15px;
 
}
.Timmerdiv__text{
    font-size: 17px;
    line-height: 27px;
}